// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dsd-header {
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Quicksand";
    letter-spacing: 1px;
    background-color: #212121;
    color: white;
}

.dsd-card {
    padding: 10px;
    width: 100%;
}

.v-messages__message {
    line-height: 2.1 !important;
}

.dsd-flex {
    padding-left: 10px;
    padding-right: 10px;
}

.message-form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.dsd-span {
    font-family: "Quicksand" !important;
    letter-spacing: 1px;
    text-align: center;
}

.main-card {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.dsd-footer {
    font-family: 'Quicksand';
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
}

.success-msg-large {
    font-family: "Quicksand";
    letter-spacing: 2px;
}

.success-msg-small {
    font-family: "Quicksand";
    letter-spacing: 2px;
    font-size: 25px;
}

.error-header {
    font-family: "Quicksand";
    letter-spacing: 1px;
}

.error-list {
    background-color: rgba(255, 0, 0, 0.47);
    list-style: none;
    font-size: 15px;
    font-family: "Quicksand";
    letter-spacing: 1px;
}

.success-sheet {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    overflow: hidden;
    padding-top: 100px;
}

text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw 8s forwards;
  }
  @-webkit-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw 8s forwards;
    -moz-animation: draw 8s forwards;
    -o-animation: draw 8s forwards;
    -ms-animation: draw 8s forwards;
    animation: draw 8s forwards;
  }
  @-webkit-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-moz-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-o-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-ms-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }

.success-animation {
    position: relative;
    bottom: 25px;
    left: 20px;
}
